.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* ПАРАМЕТРЫ ЗАГОЛОВКА */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 1;
}

/* ЛОГОТИП ЯНДЕКС ПРАКТИКУМ */

.logo {
  width: 228px;
  height: 32px;
}

/* ПОЛОЖЕНИЕ ВЕРХНЕГО ЛОГОТИПА */

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

/* ЗАГОЛОВОК ШАПКИ */

.header__title {
  max-width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

/* ОПИСАНИЕ ШАПКИ */

.header__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 1;
}

/* ССЫЛКА ОПИСАНИЯ ШАПКИ */

.header__link {
  text-decoration: none;
  color: #2F80ed;
}

/* ПОДЛОЖКА ДЛЯ КАРТИНКИ */

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: -1;
}

/* ИЗОБРАЖЕНИЕ КАРТИНЫ */

.header__main-illistration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
  object-position: bottom;
  z-index: -1;
}

/* ОПИСАНИЕ */

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

/* БЛОК ОПИСАНИЯ */

.two-columns {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
}

/* ЛЕВАЯ КОЛОНКА */

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2F80ed;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

/* ПРАВАЯ КОЛОНКА */

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* ТЕКСТ ПРАВОЙ КОЛОНКИ */

.two-columns__paragraph {
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

/* НИЖНИЙ ТЕКСТ ПРАВОЙ КОЛОНКИ */

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

/* ВЫВОД */

.two-columns__span-accent {
  font-weight: 600;
}

/* БЛОК ЦИФРЫ И ФАКТЫ */

.digits {
  width: 100%;
  padding-bottom: 100px;
}

/* ЗАГОЛОВОК ЦИФРЫ И ФАКТЫ */

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 100px auto 0;
  text-align: center;
}

/* КОМЕННТАРИЙ ЗАГОЛОВКА */

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  margin: 20px auto 0;
  text-align: center;
}

/* ТАБЛИЦА БЛОКА DIGITAL */

.table {
  width: 1100px;
  margin: 0 auto 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ЯЧЕЙКА ТАБЛИЦЫ */

.table__cell {
  width: 250px;
  margin-top: 60px;
}

/* ЗАГОЛОВОК ЯЧЕЙКИ */

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

/* ТЕКСТ ЯЧЕЙКИ */

.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0;
}

/* БЛОК ФЕЙНМАН */

.feynman {
  min-height: 790px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
}

/* ЗАГОЛОВОК БЛОКА ФЕЙНМАН */

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 0px auto 70px;
}

/* ПОДЗАГОЛОВОК БЛОКА ФЕЙНМАН */

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* ССЫЛКА ПОДРОБНЕЕ */

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #2F80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
}

/* БЛОК КАУФМАН */

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

/* МОДИФИКАТОР ЗАГОЛОВОКА БЛОКА КАУФМАН */

.section-title_theme_dark {
  margin: 0 auto 0;
  color: white;
}

/* МОДИФИКАТОР ПОДЗАГОЛОВОКА БЛОКА КАУФМАН */

.section-subtitle_theme_dark {
  color: white;
}

/* ТАБЛИЦА КАУФМАН */

.table_theme_dark {
  width: 1100px;
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* МОДИФИКАТОР ЯЧЕЙКИ ТАБЛИЦЫ КАУФМАН */

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
}

/* МОДИФИКАТОР ЗАГОЛОВКА ЯЧЕЙКИ */

.table__heading_theme_dark {
  color: white;
}

/* МОДИФИКАТОР ТЕКСТА ЯЧЕЙКИ */

.table__text_theme_dark {
  color: white;
}

/* ФИГУРА ФОНА ТАБЛИЦЫ */

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-size: cover;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

/* ПОДВАЛ */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

/* БЛОК ПОДВАЛА */

.footer__columns {
  display: flex;
  min-height: 250px;
  width: 90%;
  margin: 0 auto 0;
  justify-content: space-between;
  margin-bottom: 0;
}

/* КОЛОНКИ ПОДВАЛА */

.footer__column {
  color: white;
  font-size: 18px;
}

/* КОЛОНКА АВТОРА */

.footer__column_content-copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* АВТОР */

.footer__author {
  line-height: 25px;
  margin: 18px 0px;
}

/* ЗАГОЛОВОК КОЛОНКИ */

.footer__column-heading {
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

/* КОЛОНКА ССЫЛОК */

.footer__column-links {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  padding-left: 0;
  list-style-type: none;
}

/* СВОЙСТВА ССЫЛКИ */

.footer__column-link {
  line-height: 30px;
  text-decoration: none;
}

/* КОЛОНКА СОЦСЕТЕЙ */

.footer__column_social {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

/* ПАРАМЕТРЫ ИКОНОК СОЦСЕТИ */

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}